langgraph
langchain
langchain-text-splitters
langchain-google-genai
langchain-community
streamlit
arize-phoenix
arize-phoenix-otel
openinference-instrumentation-langchain
openinference-instrumentation
chromadb
pypdf
python-dotenv
watchdog
google-api-python-client
PyPDF2
python-docx
pandas
openpyxl
requests
